<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="jandrlik">
    <meta name="description" content="Semestrální práce KIV-WEB">
    <meta name="keywords" content="kiv web sp">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ECO 2022</title>
    <link rel="icon" type="image/png" href="img/favicon.ico">

    <!-- CSS -->
    <link rel="stylesheet" href="../../../node_modules/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="../../../node_modules/bootstrap-icons/font/bootstrap-icons.css">
    <link rel="stylesheet" href="styly.css">
</head>
<body>

<!-- Navbar-->
<nav id="navigace" class="navbar navbar-expand-lg navbar-light bg-white fixed-top py-3 shadow-sm">
    <div class="container px-5">
        <a href="index.html#uvod" class="navbar-brand text-success fw-bold">
            ECO <sup>2022</sup>
        </a>
        <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav m-auto ">
                <!--
                  <li class="nav-item me-3">
                     <a class="nav-link" aria-current="page" href="#uvod">Domů</a>
                 </li>
                 -->
                <li class="nav-item me-3">
                    <a class="nav-link" href="index.html#o_konferenci">O konferenci</a>
                </li>
                <li class="nav-item me-3">
                    <a class="nav-link" href="index.html#program">Program</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="articles.html">Publikované články</a>
                </li>
            </ul>
            <a href="login.html" class="btn btn-success px-3 py-1 me-2">
                Přihlásit
            </a>
            <a href="registrace.html" class="btn btn-outline-success px-3 py-1">
                Registrace
            </a>

            <!--
            <div class="dropdown">
                <button class="btn btn-success dropdown-toggle px-3 py-1" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    Jiří Andrlík
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <li><a class="dropdown-item" href="#">Správa článků</a></li>
                    <li><a class="dropdown-item" href="#">Správa uživatelů</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">
                        Odhlásit
                        <span class="bi bi-box-arrow-right ms-2"></span>
                    </a></li>
                </ul>
            </div>
            -->

        </div>
    </div>
</nav>

<!-- Příspěvky -->
<section class="bg-light py-5">
    <div class="container py-5 px-5">
        <div class="row mb-5 justify-content-center">
            <div class="col-lg-9">
                <div class="mb-5 text-center">
                    <h3 class="">Publikované články</h3>
                    <p class="text-secondary">
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nullam feugiat, turpis at pulvinar
                        vulputate, erat libero tristique tellus, nec bibendum odio risus sit amet ante. Etiam quis quam.
                    </p>
                </div>
                <hr class="my-5">

                <article>
                    <a class="link-success text-decoration-none" href="">
                        <h5>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</h5>
                        <p class="text-dark">
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. In enim a arcu imperdiet
                            malesuada. Aenean placerat. Etiam ligula pede, sagittis quis, interdum ultricies,
                            scelerisque eu. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per
                            inceptos hymenaeos. Nullam lectus justo, vulputate eget mollis sed, tempor sed magna.
                            Integer vulputate sem a nibh rutrum consequat. Nulla est. Maecenas lorem.
                        </p>
                    </a>
                    <div>
                        <div class="text-secondary small">Karel Novák</div>
                        <div class="text-secondary small">30. 10. 2021</div>
                    </div>
                    <hr class="my-5">
                </article>
                <article>
                    <a class="link-success text-decoration-none" href="">
                        <h5>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</h5>
                        <p class="text-dark">
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. In enim a arcu imperdiet
                            malesuada. Aenean placerat. Etiam ligula pede, sagittis quis, interdum ultricies,
                            scelerisque eu. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per
                            inceptos hymenaeos. Nullam lectus justo, vulputate eget mollis sed, tempor sed magna.
                            Integer vulputate sem a nibh rutrum consequat. Nulla est. Maecenas lorem.
                        </p>
                    </a>
                    <div>
                        <div class="text-secondary small">Karel Novák</div>
                        <div class="text-secondary small">30. 10. 2021</div>
                    </div>
                    <hr class="my-5">
                </article>
                <article>
                    <a class="link-success text-decoration-none" href="">
                        <h5>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</h5>
                        <p class="text-dark">
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. In enim a arcu imperdiet
                            malesuada. Aenean placerat. Etiam ligula pede, sagittis quis, interdum ultricies,
                            scelerisque eu. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per
                            inceptos hymenaeos. Nullam lectus justo, vulputate eget mollis sed, tempor sed magna.
                            Integer vulputate sem a nibh rutrum consequat. Nulla est. Maecenas lorem.
                        </p>
                    </a>
                    <div>
                        <div class="text-secondary small">Karel Novák</div>
                        <div class="text-secondary small">30. 10. 2021</div>
                    </div>
                    <hr class="my-5">
                </article>

            </div>


        </div>
    </div>

</section>


<!-- Paticka -->
<footer class="pt-4 pb-2 bg-white bg-gradient">
    <div class="container px-5 text-center">
        <div class="pb-3">
            <a href="https://www.facebook.com/" target="_blank" class="text-decoration-none text-success me-3"> <i
                    class="bi bi-facebook"></i> </a>
            <a href="https://www.instagram.com/" target="_blank" class="text-decoration-none text-success me-3"> <i
                    class="bi bi-instagram"></i> </a>
            <a href="https://www.twitter.com/" target="_blank" class="text-decoration-none text-success "> <i
                    class="bi bi-twitter"></i> </a>
        </div>
        <div class="small text-secondary">
            <p>&copy; 2021, Jiří Andrlík</p>
        </div>
    </div>
</footer>


<!-- Javascripty -->
<script src="../../../node_modules/jquery/dist/jquery.js"></script>
<script src="../../../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- Konec: Javascripty-->

</body>
</html>